body {
  background-color: gainsboro;
  padding-left: 10%;
  padding-right: 10%;
}

.desc {
  font-size: 20px;
}

.table {
  background-color: lightgray;
  border-radius: 15px;
  width: 100%;
}

td {
  padding: 10px;
}

.btn {
  padding: 10px;
  background-color: paleturquoise;
  color: black;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn:hover {
  background-color: blueviolet;
  color: white;
  padding: 13px;
}

.center {
  text-align: center;
}
